[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"

[dev-packages]
pytest = "*"
ruff = "*"
ipykernel = "*"

[requires]
python_version = "3.12"

[scripts]
test = "python -m pytest -vx"
ruff = "python -m ruff check ."
